body {
    padding-top: 50px;
}

.container {
    margin-top: 4rem;
}

.pad {
    margin-left: 2.5rem;
}

img {
    width: 30px;
    height: 30px;
}

.brand-icon {
    float: left;
    margin: -5px 5px -5px 0;
}